{% extends 'base.html' %}

{% block content %}
	<h1>Online Languages</h1>

{% if current_user %}
		<h3>Welcome to Online Languages Platform {{ current_user['first_name'] }}</h3>

		<section class="controls">
			<form action="/sessions/delete" method="POST">
			<button>Log out</button>
			</form>
		</section>  

		<section class="courses">
			{% for course in courses: %}
				<section class="course">
					<header>
						<h2>{{ course['name'] }}</h2>
						<h2>{{ course['length_of_course'] }}</h2>
						<h2>{{ course['fee'] }}</h2>
					</header>
				</section>
			{% endfor %}
		</section>

{% else %}
	<a href="/users/new">Sign up</a>
	<a href="/sessions/new">Log in</a>
{% endif %}

{% endblock %}