* {
	box-sizing: border-box;
}
h1{
   box-sizing: border-box 20px;
   box-shadow: 10px;
   text-align: center;
   text-emphasis-color: dark blue;
   text-decoration: solid grey;
   background-color: rgb(190, 185, 219);
}

h3{
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background-color: cornflowerblue;
	
}

.jobs {
	display: grid;
	grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
	gap: 1.25rem;
	margin-top: 2.5rem;
}

a, button{
	border: 1px solid black;
	padding: 0.2rem 0.4rem;
	background-color: rgb(170, 202, 202);
	color: rgb(249, 90, 103);
	font-size: 0.8rem;
	text-decoration: solid;
	cursor: pointer;
	border-radius: 5px;
}

.job h3{
	font-style: italic;
	font-size: medium;	
	width: 100%;
	height: 10px;
}

.job header {
	display: grid;
	align-items: center;
	justify-content: space-between;
	background-color: lightblue;
	
}

.controls{
	display: flex;
	gap: 0.5rem;
}

.controls a{
	display: inline;
	height: 23px;
}

.job label{
display: flex;
flex-direction:column;

}

body a{
	display: inline-flex;
	align-items: center;
}