{% extends 'base.html' %}

{% block content %}
	<h1>Software Engineering Job Portal</h1>

{% if current_user %}
		<h3>Welcome to the Jobs Portal {{ current_user['first_name'] }},</h3>

		<section class="controls">

			<a href="/jobs/new">Add job</a>

			<form action="/sessions/delete" method="POST">
			<button>Log out</button>
			</form>

		</section>  
		
		<section class="jobs">
			{% for job in jobs: %}
				<section class="job">
					

						<section class="job-details">
							<h3>Company Name: {{ job['company_name'] }}</h3>
							<h3>Job Level: {{ job['job_level'] }}</h3>
							<h4><a href="{{ job['job_link'] }}">click here for job description</a></h4>
						</section>
						<section class="controls">
							
							<a href="/jobs/{{ job['id'] }}/edit">Edit</a>

        					<form action="/jobs/{{ job['id'] }}/delete" method="POST">
          						<button>Delete</button>
        					</form>

							<form action="/jobs/{{job['id']}}/likes" method="POST">
								<button>Like</button>
							</form>

							<form action="/jobs/{{job['id']}}/more" method="POST">
								<button>More</button>
							</form>

							

						</section>

						<form action="/jobs/{{job['id']}}/comments" method="POST">
															
							<label for="content">Comment:</label>
							<textarea id="content" placeholder="Write your comment for the above job here" name="content" required></textarea><br>
						
							<input type="submit" value="Submit">
						  </form>
					
				</section>
			{% endfor %}
		</section>

{% else %}
	<a href="/users/new">Sign up</a>
	<a href="/sessions/new">Log in</a>
{% endif %}

{% endblock %}